{{ template "header.tmpl" . }}
</head>
{{ template "menu.tmpl" . }}
  <div class="main-content">
        <section class="section">
          <div class="section-header">
            <h1>Create New Service</h1>
          </div>

          <div class="section-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                        <div class="card-body">
                            <form method="post">
                                <div class="form-group">
                                  <label>Name</label>
                                  <input type="text" id="name" name="name" class="form-control" required>
                                </div>
                                <div class="form-group">
                                  <label>Type</label>
                                  <select class="form-control" id="type" name="type" required>
                                    <option value="solution">Solution</option>
                                    <option value="analytic">Analytics</option>
                                    <option value="innovation">New Innovation</option>
                                  </select>
                                </div>
                                <div class="form-group">
                                  <label>Slug</label>
                                  <input type="text" class="form-control" id="slug" name="slug" required>
                                </div>
                                <div class="form-group">
                                  <label>Thumbnail Filename</label>
                                  <input type="text" class="form-control" id="thumbnail" name="thumbnail" required>
                                </div>
                                <div class="form-group">
                                  <label>Access Key</label>
                                  <input type="text" class="form-control" id="access_key" name="access_key" required>
                                </div>
                                <div class="form-group">
                                  <label>Token</label>
                                  <input type="text" class="form-control" id="token" name="token" required>
                                </div>
                                <div class="form-group">
                                  <label>Timestamp</label>
                                  <input type="text" class="form-control" id="timestamp" name="timestamp" required>
                                </div>
                                <div class="form-group">
                                  <label>Short Description</label>
                                  <textarea class="form-control" rows="3" id="short_description" name="short_description" required></textarea>
                                </div>
                                <div class="form-group">
                                  <label>Long Description</label>
                                  <textarea class="form-control" rows="3" id="long_description" name="long_description" required></textarea>
                                </div>
                                <div class="form-group">
                                  <label>Special Instruction</label>
                                  <input type="text" class="form-control" id="special_instruction" name="special_instruction" required>
                                </div>
                                <button type="submit" class="btn btn-primary">Save</button>
                            </form>
                        </div>
                        </div>
                    </div>
                </div>
          </div>
        </section>
      </div>
{{ template "footer.tmpl" . }}
  </body>
</html>