{{ template "header.tmpl" . }}
</head>
{{ template "menu.tmpl" . }}
  <div class="main-content">
        <section class="section">
          <div class="section-header">
            <h1>Export Data</h1>
          </div>

          <div class="section-body">
                <div class="row">
                    <div class="col-6">
                        <div class="card">
                        <div class="card-body">
                            <p>Select data</p>
                            <form>
                                <div class="form-group">
                                <select class="form-control">
                                    <option>User Activities</option>
                                    <option>User Feedback</option>
                                    <option>Services</option>
                                </select>
                                </div>
                                <button type="submit" class="btn btn-primary">Export to CSV</button>
                            </form>
                        </div>
                        </div>
                    </div>
                </div>
          </div>
        </section>
      </div>
{{ template "footer.tmpl" . }}
  </body>
</html>