<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"
      name="viewport"
    />
    <title>Login &mdash; Nodeflux</title>

    <!-- General CSS Files -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />

    <!-- CSS Libraries -->
    <link
      rel="stylesheet"
      href="../node_modules/bootstrap-social/bootstrap-social.css"
    />

    <!-- Template CSS -->
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link rel="stylesheet" href="../assets/css/components.css" />

    <meta
      name="google-signin-client_id"
      content="775512437835-cgm9hnflui8kv18rrjr0d28q83evtfp2.apps.googleusercontent.com"
    />
    <script src="https://apis.google.com/js/api:client.js"></script>
    <script>
      var googleUser = {};
      var startApp = function () {
        gapi.load("auth2", function () {
          // Retrieve the singleton for the GoogleAuth library and set up the client.
          auth2 = gapi.auth2.init({
            client_id:
              "775512437835-cgm9hnflui8kv18rrjr0d28q83evtfp2.apps.googleusercontent.com",
            cookiepolicy: "single_host_origin",
            // Request scopes in addition to 'profile' and 'email'
            //scope: 'additional_scope'
          });
          attachSignin(document.getElementById("google"));
        });
      };

      function attachSignin(element) {
        auth2.attachClickHandler(
          element,
          {},
          function (googleUser) {
            // alert(googleUser.getBasicProfile().getName());
            // alert(googleUser.getAuthResponse().id_token);
            $.post();
            document.getElementById("identity").innerHTML =
              '<form id="form-google" action="/login" method="POST"><input type="hidden" name="google-token" value="' +
              googleUser.getAuthResponse().id_token +
              '"></form>';
            var form = $("#form-google");
            $.ajax({
              type: form.attr("method"),
              url: form.attr("action"),
              data: form.serialize(),
            })
              .done(function (data) {
                // alert(data);
                window.location.href = "/user-list";
              })
              .fail(function (data) {
                alert(
                  "User not authorized, please use Nodeflux's google account!"
                );
              });
          },
          function (error) {
            alert(JSON.stringify(error, undefined, 2));
          }
        );
      }
    </script>
  </head>

  <body>
    <div id="app">
      <section class="section">
        <div class="container mt-5">
          <div class="row">
            <div
              class="
                col-12 col-sm-8
                offset-sm-2
                col-md-6
                offset-md-3
                col-lg-6
                offset-lg-3
                col-xl-4
                offset-xl-4
              "
            >
              <div class="login-brand">
                <img
                  src="../assets/img/nodeflux_logo.png"
                  alt="logo"
                  width="200"
                />
              </div>

              <div class="card card-primary">
                <div class="card-header"><h4>Login</h4></div>

                <div class="card-body">
                  <!-- <form
                    method="POST"
                    action="#"
                    class="needs-validation"
                    novalidate=""
                  > -->
                  <div class="form-group text-center">
                    <button
                      type="submit"
                      class="btn btn-social btn-block btn-primary"
                      tabindex="4"
                      id="google"
                    >
                      <span class="fab fa-google"></span> Login with Google
                    </button>
                    <div id="identity" hidden></div>
                    <script>
                      startApp();
                    </script>
                    <br />
                    <b>Log in with your Nodeflux's google account</b>
                  </div>
                </div>
              </div>
              <div class="simple-footer">Copyright &copy; Stisla 2018</div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- General JS Scripts -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="../assets/js/stisla.js"></script>

    <!-- JS Libraies -->

    <!-- Template JS File -->
    <script src="../assets/js/scripts.js"></script>
    <script src="../assets/js/custom.js"></script>

    <!-- Page Specific JS File -->
  </body>
</html>
