<body>
    <div id="app">
      <div class="main-wrapper">
        <div class="navbar-bg"></div>
        <nav class="navbar navbar-expand-lg main-navbar">
          <form class="form-inline mr-auto" style="">
            <ul class="navbar-nav mr-3">
              <li>
                <a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"
                  ><i class="fas fa-bars"></i
                ></a>
              </li>
              <li>
                <a
                  href="#"
                  data-toggle="search"
                  class="nav-link nav-link-lg d-sm-none"
                  ><i class="fas fa-search"></i
                ></a>
              </li>
            </ul>
          </form>
          <ul class="navbar-nav navbar-right">
            <li class="dropdown">
              <a
                href="#"
                data-toggle="dropdown"
                class="nav-link dropdown-toggle nav-link-lg nav-link-user"
              >
                <img
                  alt="image"
                  src="../assets/img/avatar/avatar-1.png"
                  class="rounded-circle mr-1"
                />
                <div class="d-sm-none d-lg-inline-block">
                  Hi, {{ .name }}
                </div></a
              >
              <div class="dropdown-menu dropdown-menu-right">
                <div class="dropdown-title">Logged in</div>
                <a href="/logout" class="dropdown-item has-icon text-danger">
                  <i class="fas fa-sign-out-alt"></i> Logout
                </a>
              </div>
            </li>
          </ul>
        </nav>
        <div class="main-sidebar">
          <aside id="sidebar-wrapper">
            <div class="sidebar-brand">
              <a href="{{ .base_url }}/dashboard"
                ><img
                  src="../assets/img/nodeflux_logo.png"
                  alt="logo"
                  style="max-width: 60%; height: auto"
                  class="mb-5"
              /></a>
            </div>
            <div class="sidebar-brand sidebar-brand-sm">
              <a href="{{ .base_url }}/dashboard"><img
                  src="../assets/img/nodeflux-squarelogo.png"
                  alt="logo"
                  style="max-width: 60%; height: auto; border-radius: 5px;"
                  class="mb-5 mt-3"
              /></a>
            </div>
            <ul class="sidebar-menu">
              <li class="menu-header">Menu</li>
              <li class="{{if .userlist}}active{{end}}">
                <a class="nav-link" href="{{ .base_url }}/user-list"
                  ><i class="fas fa-user"></i> <span>User List</span></a
                >
              </li>
              <li class="{{if .useractivities}}active{{end}}">
                <a class="nav-link" href="{{ .base_url }}/user-activities"
                  ><i class="fas fa-history"></i> <span>User Activities</span></a
                >
              </li>
              <li class="{{if .userfeedback}}active{{end}}">
                <a class="nav-link" href="{{ .base_url }}/user-feedback"
                  ><i class="fas fa-comments"></i> <span>User Feedback</span></a
                >
              </li>
              <li class="{{if .manageservices}}active{{end}}">
                <a class="nav-link" href="{{ .base_url }}/services"
                  ><i class="fas fa-tasks"></i> <span>Manage Services</span></a
                >
              </li>
              <li class="{{if .amlpepuserlist}}active{{end}}">
                <a class="nav-link" href="{{ .base_url }}/aml-pep-user-list"
                  ><i class="fas fa-user-tie"></i> <span>AML / PEP User List</span></a
                >
              </li>
            </ul>
          </aside>
        </div>