{{ template "header.tmpl" . }}
<!-- CSS Libraries -->
  <link rel="stylesheet" href="../node_modules/bootstrap-daterangepicker/daterangepicker.css">
  <link rel="stylesheet" href="../node_modules/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css">
  <link rel="stylesheet" href="../node_modules/select2/dist/css/select2.min.css">
  <link rel="stylesheet" href="../node_modules/selectric/public/selectric.css">
  <link rel="stylesheet" href="../node_modules/bootstrap-timepicker/css/bootstrap-timepicker.min.css">
  <link rel="stylesheet" href="../node_modules/bootstrap-tagsinput/dist/bootstrap-tagsinput.css">
  <link rel="stylesheet" href="../node_modules/flag-icon-css/css/flag-icon.min.css">
  <link rel="stylesheet" href="../node_modules/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="../node_modules/datatables.net-select-bs4/css/select.bootstrap4.min.css">
</head>
{{ template "menu.tmpl" . }}
  <div class="main-content">
        <section class="section">
          <div class="section-header">
            <h1>Manage Services</h1>
          </div>

          <div class="section-body">
          <div class="card">
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-bordered table-md" id="table-1">
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>Service Slug</th>
                          <th>Service Name</th>
                          <th>Short Description</th>
                          <th>Long Description</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>1</td>
                          <td>license-plate-recognition</td>
                          <td>License Plate Recognition</td>
                          <td>Recognize vehicle licese plate number from vehicle passing by that captured by camera</td>
                          <td>Nodeflux License Plate Recognition (LPR) is a Vision Artificial Intelligence Analytics Software which provides recognition of face plates for all types of vehicles. Nodeflux LPR is using a Deep Learning algorithm developed to adapt real conditions in Indonesia, like various kinds of plate, and any wide range of environmental conditions.</td>
                          <td><a href="#" class="btn btn-primary"><i class="fa fa-pencil-alt"></i></a><a href="#" class="btn btn-danger"><i class="fa fa-trash-alt"></i></a></td>
                        </tr>
                        <tr>
                          <td>2</td>
                          <td>face-match-enrollment</td>
                          <td>Face Match with Enrollment</td>
                          <td>Recognize two faces from two photos. One from input and one from enrolled database defined by enrollment ID</td>
                          <td>Nodeflux Face Match w/ID is a Vision Artiﬁcial Intelligence Analytics Software which provides accurate matching and recognition. Using a Deep Learning Algorithm to enhance the accuracy of facial inferencing, Nodeflux Face Match w/ID automatically detects facial features from a photo and matches it with a pre-enrolled photo in the database.</td>
                          <td><a href="#" class="btn btn-primary"><i class="fa fa-pencil-alt"></i></a><a href="#" class="btn btn-danger"><i class="fa fa-trash-alt"></i></a></td>
                        </tr>
                      </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </section>
      </div>
{{ template "footer.tmpl" . }}
<!-- JS Libraies -->
  <script src="../node_modules/cleave.js/dist/cleave.min.js"></script>
  <script src="../node_modules/cleave.js/dist/addons/cleave-phone.us.js"></script>
  <script src="../node_modules/jquery-pwstrength/jquery.pwstrength.min.js"></script>
  <script src="../node_modules/bootstrap-daterangepicker/daterangepicker.js"></script>
  <script src="../node_modules/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
  <script src="../node_modules/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
  <script src="../node_modules/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
  <script src="../node_modules/select2/dist/js/select2.full.min.js"></script>
  <script src="../node_modules/selectric/public/jquery.selectric.min.js"></script>
  <script src="../node_modules/datatables/media/js/jquery.dataTables.min.js"></script>
  <script src="../node_modules/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
  <script src="../node_modules/datatables.net-select-bs4/js/select.bootstrap4.min.js"></script>

    <!-- Page Specific JS File -->
    <script>
    $('.daterange-cus').daterangepicker({
  locale: {format: 'YYYY-MM-DD'},
  drops: 'down',
  opens: 'right'
});
$('.daterange-btn').daterangepicker({
  ranges: {
    'Today'       : [moment(), moment()],
    'Yesterday'   : [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
    'Last 7 Days' : [moment().subtract(6, 'days'), moment()],
    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
    'This Month'  : [moment().startOf('month'), moment().endOf('month')],
    'Last Month'  : [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
  },
  startDate: moment().subtract(29, 'days'),
  endDate  : moment()
}, function (start, end) {
  $('.daterange-btn span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
});
$("#table-1").dataTable();
</script>
  </body>
</html>