{{ template "header.tmpl" . }}
<!-- CSS Libraries -->
<link rel="stylesheet" href="../node_modules/bootstrap-daterangepicker/daterangepicker.css">
<link rel="stylesheet" href="../node_modules/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css">
<link rel="stylesheet" href="../node_modules/select2/dist/css/select2.min.css">
<link rel="stylesheet" href="../node_modules/selectric/public/selectric.css">
<link rel="stylesheet" href="../node_modules/bootstrap-timepicker/css/bootstrap-timepicker.min.css">
<link rel="stylesheet" href="../node_modules/bootstrap-tagsinput/dist/bootstrap-tagsinput.css">
<link rel="stylesheet" href="../node_modules/flag-icon-css/css/flag-icon.min.css">
<link rel="stylesheet" href="../node_modules/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="../node_modules/datatables.net-select-bs4/css/select.bootstrap4.min.css">
</head>
{{ template "menu.tmpl" . }}
<div class="main-content">
  <section class="section">
    <div class="section-header">
      <h1>User Activities</h1>
    </div>

    <div class="section-body">
      <div class="card">
        <div class="card-body">
          <a href="{{ .base_url }}/user-activities-export" class="btn btn-primary mb-3">Export to CSV</a>
          <div class="table-responsive">
            <table class="table table-bordered table-md" id="table-1">
              <thead>
                <tr>
                  <th class="text-center">Time</th>
                  <th class="text-center">Email</th>
                  <th class="text-center">Full Name</th>
                  <th class="text-center">Company</th>
                  <th class="text-center">Company Size</th>
                  <th class="text-center">Job Title</th>
                  <th class="text-center">Industry</th>
                  <th class="text-center">Service Name</th>
                  <th class="text-center">Service Type</th>
                  <th class="text-center">Completeness</th>
                </tr>
              </thead>
              <tbody>
                {{ range .data }}
                <tr>
                  <td>{{ printf "%.19s" .CreatedAt }} WIB</td>
                  <td>{{ .Email }}</td>
                  <td>{{ .FullName }}</td>
                  <td>{{ .Company }}</td>
                  <td>{{ .CompanySize }}</td>
                  <td>{{ .JobTitle }}</td>
                  <td>{{ .Industry }}</td>
                  <td>{{ .Name }}</td>
                  <td>{{ .Type }}</td>
                  <td>{{ .Completeness }}%</td>
                  <!-- <td>{{ .Completeness }}</td> -->
                </tr>
                {{ end }}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</div>
</section>
</div>
{{ template "footer.tmpl" . }}
<!-- JS Libraies -->
<script src="../node_modules/cleave.js/dist/cleave.min.js"></script>
<script src="../node_modules/cleave.js/dist/addons/cleave-phone.us.js"></script>
<script src="../node_modules/jquery-pwstrength/jquery.pwstrength.min.js"></script>
<script src="../node_modules/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="../node_modules/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
<script src="../node_modules/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
<script src="../node_modules/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
<script src="../node_modules/select2/dist/js/select2.full.min.js"></script>
<script src="../node_modules/selectric/public/jquery.selectric.min.js"></script>
<script src="../node_modules/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="../node_modules/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="../node_modules/datatables.net-select-bs4/js/select.bootstrap4.min.js"></script>

<!-- Page Specific JS File -->
<script>
jQuery.fn.dataTable.render.percentBar = function(pShape, cText, cBorder, cBar, cBack, vRound, bType) {
  pShape = pShape || 'square';
  cText = cText || '#000';
  cBorder = cBorder || '#BCBCBC';
  cBar = cBar || '#5FD868';
  cBack = cBack || '#E6E6E6';
  vRound = vRound || 0;
  bType = bType || 'ridge';
  //Bar templates
  var styleRule1 = 'max-width:100px;height:12px;margin:0 auto;';
  var styleRule2 = 'border:2px '+bType+' '+cBorder+';line-height:12px;font-size:14px;color:'+cText+';background:'+cBack+';position:relative;';
  var styleRule3 = 'height:12px;line-height:12px;text-align:center;background-color:'+cBar+';padding:auto 6px;';
  //Square is default, make template round if pShape == round
  if(pShape=='round'){
    styleRule2 += 'border-radius:5px;';
    styleRule3 += 'border-top-left-radius:4px;border-bottom-left-radius:4px;';
  }
 
  return function(d, type, row) {
    //Remove % if found in the value
    //Round to the given parameter vRound
    s = parseFloat(d.toString().replace(/\s%|%/g,'')).toFixed(vRound);
    //Not allowed to go over 100%
    if(s>100){s=100}
     
    // Order, search and type gets numbers
    if (type !== 'display') {
      return s;
    }
    if (typeof d !== 'number' && typeof d !== 'string') {
      return d;
    }
     
    //Return the code for the bar
    return '<div style="'+styleRule1+'"><div style="'+styleRule2+'"><div style="'+styleRule3+'width:'+s+ '%;"></div><div style="width:100%;text-align:center;position:absolute;left:0;top:0;">'+s+'%</div></div></div>';
  };
};
  var table = $("#table-1").dataTable({
    "order": [
      [0, "desc"]
    ],
    "columnDefs": [{
      targets: 9,
      render:
        $.fn.dataTable.render.percentBar('round','#FFFFFF', '#6777ef', '#6777ef', '#b8bfef', 0, 'groove')
    }]
  });
</script>

</body>
</html>